<h1>Comments</h1>

<%= link_to "Add New Comment", new_movie_comment_path(@movie) %>

<ul class="list-group list-group-flush">
<% @comments.each do |comment| %>
<li class="list-group-item"><%= comment.body%></li>
<% end %>
</ul>