<h1>Movies</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
        <tr>
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= movie.genre %></td>
        <td><iframe width="150" height="100" src="<%= movie.trailer %>">
</iframe></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<%= link_to 'Add a New Movie', new_movie_path %>